<% provide(:title, 'Help') %>
<h1>Help</h1>
    <p>
        For help, please contact:
        <a href="mailto:matt@kfitsolutions.com">Matt DeLand</a> or <a href="mailto:daniel@kfitsolutions.com">Daniel Krasner</a>
    </p>

