<div class="center hero-unit">
  <h1>Welcome to the PTG Trading platform</h1>

  <h2>
  	This is the home page for PTG trade monitoring and reconcilliation platform.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>