<h1>Editing Trade</h1>

<div class="row">
    <aside class="span4">
		<section>
        	<%= render 'form' %>
      </section>
    </aside>
 </div>  

<%= link_to 'Show', @localtrade %> |
<%= link_to 'Back', localtrades_path %>
