<% provide(:title, "Trades") %>
<h1>Entered Trades</h1>
<%= will_paginate %>

<ul class="localtrades">
  <%= render @localtrades %>
</ul>

<%= will_paginate %>

<div class="trade_link">
<%= link_to 'Submit a new trade', root_path %>
</div>
