<h1>Deal Ticket</h1>

<div class="row">
<aside class="span6">
	<%= render 'form' %>

	<p><%= link_to 'Blotter', localtrades_path %></p>
	<p><%= link_to "Multi Trade Form", new_multitrade_path%></p>

</aside>
</div>